* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
}

.section_center {
  background-image: url(../assets/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_center_headline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.main_01 .section_center_headline_logo img {
  width: 63px;
}
.section_center_headline .section_center_headline_h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  padding: 20px;
}
.section_center_headline .section_center_headline_h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding: 60px;
}

.section_center_headline_logo img {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.navbar input[type=checkbox] {
  display: none;
}
.navbar_logo__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.navbar .toggle {
  order: 3;
}
.navbar .navbar__list {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-family: normal;
  order: 2;
}
.navbar .navbar__list a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2em;
  padding: 6px;
  margin: 0px 30px;
  transition: 0.3s;
  cursor: pointer;
}
.navbar .navbar__list #about {
  border-bottom: 3px solid #fff;
}
.navbar .navbar__list #about:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.navbar .navbar__list-item:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.navbar .nav__menu-item-item__stories:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.navbar .nav__menu-item-item__contact:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.project_2 {
  background-color: #fff;
}

.section_secoond_headline {
  padding: 60px 0px;
}
.section_secoond_headline .section_secoond_headline_h1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.section_secoond_headline .section_secoond_headline_h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  padding: 20px;
}
.section_secoond_headline_text {
  display: flex;
}
.section_secoond_headline_text p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
  padding: 50px;
}

.read_more {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 40px;
  transition: 0.3s;
  cursor: pointer;
}
.read_more:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.read_more .read_more_btn {
  border-radius: 30px;
  background-color: #55C2D8;
  color: #fff;
  width: 115px;
  height: 36px;
  border: 0;
}

.section_third {
  background-image: url(../assets/13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_third .section_third_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0px;
}
.section_third .section_third_content_h1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.section_third .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: #55C2D8;
  transition: 0.2s;
  cursor: pointer;
}
.section_third .play img {
  transform: translateX(5px);
}
.section_third .play:hover {
  transform: scale(1.1) rotate(360deg);
  filter: grayscale(0);
}
.section_third .section_third_content_h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

footer {
  background-color: #464547;
}
footer .navbar_footer {
  display: flex;
  align-items: flex-end;
  padding: 50px 0px;
  justify-content: space-between;
}
footer .navbar_footer_left {
  display: flex;
  align-items: flex-start;
}
footer .navbar_footer_left_logo {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
footer .navbar_footer_left .logo img {
  width: 20px;
}
footer .navbar_footer_left_logo__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
}
footer .navbar_footer_left_address {
  padding: 0px 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: 0.3s;
  cursor: pointer;
}
footer .navbar_footer_left_address a {
  color: rgba(255, 255, 255, 0.4);
}
footer .navbar_footer_left_address:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
footer .navbar_footer_right {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .navbar .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
    cursor: pointer;
  }
  .navbar .toggle .bar {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .navbar input[type=checkbox]:checked ~ .nav .navbar__list {
    display: block;
  }
  .navbar .navbar__list {
    display: none;
    position: absolute;
    background-color: gray;
    right: 0;
    top: 0;
    padding: 50px 10px;
    height: 100vh;
  }
  .navbar .navbar__list-item {
    padding: 5px;
  }
  .navbar .navbar_list-item_anchor__stories {
    padding: 10px;
  }
  .navbar .navbar__list #about {
    padding: 5px;
  }
  .navbar .navbar_list-item_anchor__contact {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .section_secoond_headline_text {
    flex-direction: column;
  }
  .section_secoond_headline_text p {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  footer .navbar_footer {
    flex-direction: column;
    align-items: center;
  }
  footer .navbar_footer_left {
    flex-direction: column;
    padding: 10px 0px;
  }
  footer .navbar_footer_left_logo {
    padding: 10px 10px;
  }
  footer .navbar_footer_left_address {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */